@model Models.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "LoginPage";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/stylesheets/loginpage.css" rel="stylesheet" />
<form asp-action="LoginClient" asp-controller="Guest" class="card" method="post">

    <header class="header">
        <h1>Sign In</h1>
        <p>Welcome back!</p>
    </header>


    <div class="field">
        <input asp-for="Email" type="email" name="email" value="david.levi@mail.com" placeholder="example@mail.com" required />
        <span asp-validation-for="Email"></span>
    </div>


    <div class="field">
        <input asp-for="Password" type="password" name="password" value="Dav123!" placeholder="••••••••" required />
        <span asp-validation-for="Password"></span>
    </div>


    <div class="actions">
        <button class="tg-btn" type="submit">Sign In</button>
    </div>
    @if (ViewBag.Messege != null)
    {
        <div class="my-error-msg">
            @ViewBag.Messege
        </div>
    }

    <div class="extra">
        <span>You dont have an account?</span>
        <a href="http://localhost:5086/Guest/Registration">Registration</a>
    </div>
</form>

