
@{
    ViewData["Title"] = "MasterPage";
}
<script>
    function openModal() {
        document.getElementById("modalOverlay").style.display = "block";
        document.getElementById("modalBox").style.display = "block";
    }

    function closeModal() {
        document.getElementById("modalOverlay").style.display = "none";
        document.getElementById("modalBox").style.display = "none";
    }
</script>
<link href="~/stylesheets/homepage.css" rel="stylesheet" />
<nav class="navbar">
    <div class="left-section">
        <img src="https://via.placeholder.com/50" class="logo-img" alt="logo">
        <h1 class="store-name">Gym Machine Store</h1>
        <a href="http://localhost:5086/Guest/HomePage/" class="nav-link">Home Page</a>
        <a href="http://localhost:5086/Guest/MachineCatalog/" class="nav-link">Catalog</a>
        <a asp-controller="Client" asp-action="Profile" class="nav-link">My Profile</a>
        <a href="#" class="cart">🛒</a>
    </div>

    <div class="right-section">
        <div class="search-box">
            <img src="../Images/Search-Image.gif" />
            <input type="text" placeholder="Search">
        </div>

</nav>

<hr>
<div class="main-banner">
    @RenderBody()
</div>

