
@{
    ViewData["Title"] = "MasterPage";
}
<script>
    function openModal() {
        document.getElementById("modalOverlay").style.display = "block";
        document.getElementById("modalBox").style.display = "block";
    }

    function closeModal() {
        document.getElementById("modalOverlay").style.display = "none";
        document.getElementById("modalBox").style.display = "none";
    }
</script>
<link href="~/stylesheets/homepage.css" rel="stylesheet" />
<nav class="navbar">
    <div class="left-section">
        <img src="https://via.placeholder.com/50" class="logo-img" alt="logo">
        <h1 class="store-name">Gym Machine Store</h1>
        <a asp-controller="Guest" asp-action="HomePage" class="nav-link">Home Page</a>
        <a asp-controller="Guest" asp-action="MachineCatalog" class="nav-link">Catalog</a>
        <!-- כפתור שפותח את החלון -->
        <a href="#" class="nav-link" onclick="openModal()">Login</a>

        <!-- הרקע הכהה -->
        <div id="modalOverlay" class="modal-overlay" onclick="closeModal()"></div>

        <!-- החלון עצמו -->
        <div id="modalBox" class="modal-box">
            <span class="close-btn" onclick="closeModal()">×</span>

            <h2>Enter the Gym World</h2>
            <a href="http://localhost:5086/Guest/Registration" class="nav-link">
                <button>Register</button>
            </a>
            <a href="http://localhost:5086/Guest/Login" class="nav-link">
                <button>Login</button>
            </a>
        </div>
    </div>

    <div class="right-section">
        <div class="search-box">
            <img src="../Images/Search-Image.gif" />
            <input type="text" placeholder="Search">
        </div>

</nav>

<hr>
<div class="main-banner">
    @RenderBody()
</div>

